env:
  global:
    - AWS_DEFAULT_REGION=eu-west-1

dist: trusty
language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install -r requirements_build.txt

script:
  - py.test

after_success:
  - codecov
